<h2><%= play.id.to_s + ": " + play.title %></h2>
<hr />
<h3>Relationships</h3>
<table>
	<tr>
		<th></th>
		<th></th>
		<th>ID</th>
		<th>Relationship Type (Default)</th>
		<th>Custom Connector</th>
		<th>Name</th>
		<th>Created At</th>
		<th>Updated At</th>
	</tr>
	<% play.relationships.each do |rel| %>
	<tr>
		<%= td(link_to "Edit", edit_admin_relationship_path(rel)) %>
		<%= td(link_to "Delete", admin_relationship_path(rel), :confirm => "Are you sure?", :method => :delete) %>
		<%= td rel.id.to_s %>
		<%= td rel.relationship_type.description %>
		<%= td rel.connector %>
		<%= td rel.participant_name %>
		<%= td rel.created_at.strftime("%x %I:%M %p") %>
		<%= td rel.updated_at.strftime("%x %I:%M %p") %>
	</tr>
	<% end %>
</table>
<h3>Productions</h3>
<table>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th>ID</th>
		<th>Open</th>
		<th>Close</th>
		<th>Theatre</th>
		<th>Avg Score</th>
		<th>Median Score</th>
		<th>Created At</th>
		<th>Updated At</th>
	</tr>
	<% play.productions.each do |prod| %>
		<tr>
			<%= td(link_to "View", prod) %>
			<%= td(link_to "Edit", edit_admin_production_path(prod)) %>
			<%= td(link_to "Delete", admin_production_path(prod), :confirm => "Are you sure?", :method => :delete) %>
			<%= td prod.id.to_s %>
			<%= td strftime(prod.opening_date, "%x") %>
			<%= td strftime(prod.closing_date, "%x") %>
			<%= td(link_to_unless prod.theatre.nil?, prod.theatre_name, prod.theatre) %>
			<%= td format("%.2f", prod.average_score || 0) %>
			<%= td format("%.2f", prod.median_score || 0) %>
			<%= td prod.created_at.strftime("%x %I:%M %p") %>
			<%= td prod.updated_at.strftime("%x %I:%M %p") %>
		</tr>
	<% end %>
</table>